@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
  body {
    image-rendering: -webkit-optimize-contrast;
  }
}

@media print {
  body {
    zoom: 0.5;
    -webkit-print-color-adjust: exact;
  }
}
